body {
    background-color: #d5d2d2;
    font-family: "Avenir Next";
}
h1, h2, h3, h4, p, label, h6 {
    color: #5d5c5c;
}

.row {
    margin-left: 5rem;
    margin-right: 5rem;
}
.row>* {
    padding-left: 0;
}
.readcomments, .comment, .delete-comment-button {
    color: #777676 !important;
}
.readcomments {
    margin-top: 5px;
}
.comment, .submit-comment-button {
    float: right;
    margin-right: 16px;
    margin-top: 16px;
}
.delete-comment-button {
    margin-left: 32px;
    margin-bottom: 16px;
}
.commentbox {
    width: 95%;
    margin-left: 16px;
}
.edit {
    margin-top: 5px;
}

.btn, #login-btn, #register-btn, #submit-edit-btn {
    width: 5rem;
    background-color: #8c488c;
    border: none;
    color: white;
}

.navbar {
    background-color: #8c488c !important;
}
#login-form, #register-form, #profile-form {
    padding-left: 16px;
    margin-right: 5rem;
    margin-left: 5rem;
}
.navbar-brand {
    padding-left: 16px;
}

#profile-form {
    margin-top: 2rem;
}
#submit-edit-btn {
    border-radius: 5px;
    margin-left: 5px;
}
#profile-form > label:nth-child(6) {
    margin-left: 5px;
}

a {
    color: white!important;
}
.card {
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.set-up-card {
    width: 40rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
    margin-top: 10rem;
}
.set-up-row{
    align-items: center;
    justify-content: center;
}

.card-footer, .card-header {
    border: none;
    text-align: right;
    background-color: white;
}
.card-header {
    height: 1rem;
}
.card-header>p {
    color: rgba(93, 92, 92, 0.5);
}

#add-post-title {
    margin-bottom: 1rem;
}
.navbar-collapse {
    justify-content: flex-end;
}

.form-group {
    border: none;
}

#add-post-button, #cancel-button, .submit-comment-button{
    margin-top: 10px;
    float: right;
    margin-left: 5px;
}

.submit-comment-button {
    margin-right: 16px;
    margin-bottom: 16px;
}

#login-form>input, #register-form>input {
    background-color: #dedbdb;
}

#login-form>input, #register-form>input, #profile-form>input{
    border: none!important;
    border-radius: 5px;
}
h3 {
    margin-bottom: 1rem;
}

.tagline {
    margin-left: 2rem;
}

h4 {
    font-size: 28px;
}

.post-categories {
    float: left;
    background-color: #a2a1a1;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 16px;
    margin-right: 5px;
}
#add-new-button {
    margin-bottom: 2rem;
}

#username, #password, #email {
    width: 15rem;
    margin-bottom: 5px;
}
#register-form > label:nth-child(4), #register-form > label:nth-child(1), #register-form > label:nth-child(7) {
    width: 5rem;
}

#login-form > label {
    width: 4.6rem;
}
#register-btn {
    margin-left: 15.25rem;
    border-radius: 5px;
}
#login-btn {
    margin-left: 14.85rem;
    border-radius: 5px;
}

#register-response, #login-response {
    color: red;
    display: none;
}
.posttitle {
    margin-top: 1rem;
}

.comments {
    background-color: whitesmoke;
}
.comments > p {
    margin-left: 32px;
    margin-bottom: 0!important;
}
.comments > h6 {
    margin-top: 32px;
    margin-left: 16px;
}


#nosubmit {
    width: 20%;
    padding: 9px 4px 9px 20px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    background: white;
    position: absolute;
    right: 6.5rem;
}

